<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Doggos</title>
</head>
<body>
    <div class="wrapper">
        <h1>Details for <%=dogs.name%></h1>
        <table class="table table-striped">
                <th>Name</th>
                <th>Weight</th>
                <th>Color</th>
                <th>ID</th>
                    <tr>
                        <td><%=dogs.name%></td>
                        <td><%=dogs.weight%> lbs</td>
                        <td><%=dogs.color%></td>
                        <td><%=dogs._id %></td>
                    </tr>
        </table>
        <br>
        <a href="/">Back to Home</a>  |  <a href="/dogs/edit/<%=dogs.id%>">Edit </a>  |  <a href="/dogs/destroy/<%=dogs.id%>">Delete</a>
    </div>
</body>
</html>